.card {
  text-decoration: none;
  max-width: 413px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  width: 413px;
  align-items: baseline;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  margin: 12px 0 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 413px;
}

.card__like-button {
  background-image: url(../images/like-Icon.svg);
  width: 23px;
  height: 20px;
  border: 0;
  background-color: transparent;
  opacity: 40%;
  background-size: 20px 18px;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0;
  box-sizing: content-box;
  color: rgba(33, 33, 33, 1);
  transition: opacity 0.3s ease;
  padding: 0 8px;
}

.card__like-button:hover {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
}

.card__like-button_liked {
  background-image: url(../images/liked-heart.png);
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url(../images/liked-heart-hover.png);
  opacity: 1;
  cursor: pointer;
  visibility: visible;
  transition-delay: 0.3s;
}

.card__delete-button {
  background-image: url(../images/Delete-icon.png);
  width: 32px;
  height: 32px;
  position: relative;
  top: 50px;
  left: 371px;
  background-color: transparent;
  border: 0px;
  padding: 0;
}

.card__delete-button:hover {
  background-image: url(../images/Delete-icon-hover.png);
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
}

@media screen and (max-width: 627px) {
  .card {
    justify-content: center;
  }
  .card__image {
    width: 288px;
    height: 288px;
    text-overflow: unset;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
  }

  .card__content {
    width: 288px;
  }

  .card__delete-button {
    top: 40px;
    left: 250px;
  }
}
